.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header > img {
  position: relative;
  width: 340px;
  height: 80px;
  left: 20px;
}

.header > a {
  right: 20px;
  position: absolute;
  color: white;
  font-size: 30px;
}

.dropdown {
  height: 5%;
  width: 10%;
  right: 20px;
  position: absolute;
}

.dropdown > .inputLabel {
font-size: 40px;
background-color: red;
}